html {
    font-size: 10px;
}

body {
    font-family: "Montserrat";
    font-size: 1.6rem;
}

.layout {
    width: 100%;
    min-height: 100%;
    position: absolute;

    display: flex;
    justify-content: center;
    align-items: center;

    background-color: #3E92CC;
}

.layout__main {
    min-width: 45rem;
    border: 2rem;
    background-color: white;
    box-shadow: 0px 0px 14px #0A2463;
    border-radius: 20px;
}

.main__user {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #0A2463;
    padding-bottom: 3rem;
    border-radius: 10px 10px 0 0;
}

.main__follows {
    border-radius: 0 0 10px 10px;
}

.user__container-img {
 width: 13rem;
 height: 13rem;
 background-color: white;
 padding: 0.5rem;
 margin-top: 7rem;
 margin-bottom: 2rem;
 border-radius: 13rem;
}

.user__img {
 border-radius: 13rem;
 width: 100%;
 height: 100%;
}

.user__content {
    text-align: center;
    margin-bottom: 0.5rem;
}

.user__name {
    color: white;
    font-weight: 600;
    margin-right: 0.3rem;
    cursor: pointer;
}

.user__nick,
.user__city {
    color: white;
    font-weight: 500;
    opacity: 0.8;
}

.main__follows {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    text-align: center;
    gap: 1.5rem;
    padding: 3rem 4rem;
}

.follows__follow{
    border: 2px solid transparent;
    border-radius: 10px;
    padding: 0.5rem;
    cursor: pointer;
    transition: all 300ms ease-in-out;
    width: 33.3%;
}

.follows__follow:hover {
    border: 2px solid #eae4e4;
    border-radius: 10px;
}

.follow__number {
    color: #1E1B18;
    font-weight: 700;
    font-size: 2rem;
}

.follow__subtitle {
    color: black;
    font-weight: 600;
    font-size: 1.4rem;
    opacity: 0.5;
}